// _custom-variables.scss
$primary: #c29938 !default;
$light: #fbf5e5 !default;
$zindex-offcanvas: 1095;

// Then load Bootstrap functions (needed for some things)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192
) !default;

$theme-colors: map-merge($custom-theme-colors, $theme-colors);



@import "../node_modules/bootstrap/scss/bootstrap";


